.App {
  text-align: center;
  background-color: rgb(12, 12, 5);
  min-height: 1440px;
  height: 100%;
  
  
}
.Landing-Container {
  display: flex;
}

.Name-slide {
  text-align: left;
  margin-top: 15px;
  margin-left: 30px;
  font-size: 3.6rem;
  font-weight: bold;
  color: rgb(255, 255, 255);
  width: 70%;
  border-bottom: 3px solid #CCAC00;
  /* text-shadow: 0.01rem 0.05rem 0.01rem rgb(250, 250, 172); */
}

.Sur-Name-Slide {
  text-align: left;
  font-size: 3.6rem;
  font-weight: bold;
  /* opacity: 0.45; */
  color: #CCAC00;
  margin-top: -65px;
  margin-left: 103px;
  /* text-shadow: 1px 0.05rem 0.1rem rgb(250, 250, 172); */
}

.nav-h {
  margin-top: 35px;
  text-decoration: none;
  color: white;
  font-size: 1.9rem;
  text-align: left;
  border: 1px solid #CCAC00;
  width: 165px;
  padding: 20px;
  text-align: center;
  margin-left: 30px;
  margin-bottom: 30px;
}

.nav-h1, .nav-h2, .nav-h3, .nav-h4 {
  margin-top: 5.5px;
  text-decoration: none;
  color: white;
  font-size: 1.9rem;
  text-align: left;
  border: 1px solid #CCAC00;
  width: 165px;
  padding: 20px;
  text-align: center;
  margin-left: 30px;
  margin-bottom: 30px;
}

.nav-h:hover, .nav-h1:hover, .nav-h2:hover, .nav-h3:hover, .nav-h4:hover{
  background: white;
  color: #CCAC00;
  /* margin-bottom: -0.6px; */
  cursor: pointer;
  /* -moz-box-shadow:    inset 1px 1px 1px #000000;
  -webkit-box-shadow: inset 1px 1px 1px #000000;
  box-shadow:         inset 1px 1px 1px #000000; */
}

.nav-h:active, .nav-h1:active, .nav-h2:active, .nav-h3:active {
  -moz-box-shadow:    inset 1px 1px 1px 2px #4b4b4b;
  -webkit-box-shadow: inset 1px 1px 1px 2px #4b4b4b;
  box-shadow:         inset 1px 1px 1px 2px #4b4b4b;
}

.Nav-container {
  margin-top: 85px;
  /* border: 2px solid #CCAC00; */
  width: 300px;
  display: flex;
  flex-direction: column;
  position: fixed;
}

.Center-Container-About {
  margin-left: 300px;
  margin-top: -50px;
  padding-top: 300px;
  width: 75%;
  height: 1080px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.About-Me {
  color: white;
  margin-top: 10px;
  font-size: 3rem;
  border-bottom: 3px solid white;
}

.About-Span {
  color: #CCAC00;
  border-bottom: 3px solid #CCAC00;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}



.Center-Container-Projects {
  margin-top: 5%;
  padding-top: 225px;
  margin-left: 300px;
  width: 75%;
  height: 1080px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
}

.Projects-H1 {
  color: white;
  font-size: 3rem;
  border-bottom: 3px solid white;
  margin-bottom: 30px;
  margin-top: 100px;
}

.Projects-H1-Span {
  color: #CCAC00;
  border-bottom: 3px solid #CCAC00;
}

.Falcano-Wrapper {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 900px;
  margin-top: 15px;
}

.React-Tilt-Card:hover {
  cursor: pointer;
}

.Falcano-H1 {
  align-self: center;
  justify-content: center;
  color: white;
  border-bottom: 3px solid white;
  margin-bottom: 30px;
  margin-top: 35px;
}

.Falcano-H1-Span {
  color: #CCAC00;
  border-bottom: 3px solid #CCAC00;
}

.Falcano-Card {
  width: 450px;
  height: 400px;
  cursor: pointer;
  border: 1px solid #CCAC00;
}

.Falcano-Image {
  width: 350px;
  height: 300px;
  margin-top: 11%;
}

.Falcano-Paragraph {
  cursor: auto;
  text-align: left;
  font-size: 1.39rem;
  color: white;
  width: 350px;
  margin-top: 5px;
}

.Projects-Paragraph-Span {
  color: #CCAC00;
}

.GitHub-Logo {
  /* background: white; */
  padding: 1px;
  height: 32px;
  width: 32px;
}

.Project-Links {
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: 0px;
  margin-top: 20px;
  width: 450px;
}
.Falcano-Card-Wrapper {
  margin-top: 35px;
  display: flex;
  flex-direction: column;
}

.GitHub-Link {
  flex-direction: row;
  text-decoration: none;
  color: white;
  margin-left: 10px;
  font-size: 1.6rem;
}