body {
  margin-top: -65px;
  margin-left: 0px;
  padding: 0;
  font-family: 'Playfair Display', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

/* code {
  font-family: 'Playfair Display', serif;
} */
